body {
    background-color: #f0f8ff;
    background-image: url("img/pokeball_header.png");
    background-repeat: repeat-x;
    background-size: 3em;
    font-family: Arial, Helvetica, sans-serif;

}

#pokemon-finder {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    margin-top: 5em;
}

.search-bar {
    margin: 10px auto;
    text-align: center;
}
.search-bar input {
    text-align: center;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 30px;
    font-size: medium;
    background-color: #FFF7F0;
}

#searchButton {
    background-color: whitesmoke;
    font-weight: 700;
    text-align: center;
    height: 2rem;
    border: 2px solid black;
    border-radius: 30px;
    
}

#onePokemon {
    width: fit-content;
    align-content: center;
    margin: auto;
    background-color: blanchedalmond;
    display: block;
    border: 1px solid black;
}

#pokemonSprite {
    height: 12rem;
    width: auto;
    padding: 1rem;
    margin: 10px;

}

#pokemon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemon-list img{
    margin: auto;
}

.pokemon {
    background-color: blanchedalmond;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    padding: 1rem;
}
.pokemon img {
    width: fit-content;
    height: 6rem;

}
.pokemon p {
    font-weight: 700;
}

.name-id {
    background-color: red;
    color: white;
    font-weight: 700;
    text-shadow: 1px 2px black;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;

}

.black-bar {
    background-color: black;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
  }


  .details {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    background-color: white;
}

.details p {
    font-size: larger;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }